.section-sobre {
  &__content {
    border: 1px solid var(--medium-dark);
    border-radius: 0.5em;
    margin-bottom: 10.62em;
  }

  &__history {
    font-size: var(--font-size-xl);
    font-weight: 400;
    color: #989898;
    padding: 0.67em;

    &__list {
      font-size: var(--font-size-capition);
      margin: 0;
      padding: 0 2em;
    }

    &__title {
      margin: 0;
      font-size: var(--font-size-xl);
    }
  }

  .section-social-media {
    display: flex;
    gap: 0.5em;
  }
}

:host ::ng-deep .section-sobre__content .button {
  padding: 0.57em 1.72em;
  width: auto;
  margin-top: 1em;
  font-size: var(--font-size-small);
}
