.section-sobre {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    >div{
        padding: 1em 1.25em;
        color: var(--text-color-primary);

    }

    &__content{
        border: 1px solid var(--medium-dark);
        border-radius: 0.5em;
        margin-bottom: 10.62em;
    }

    &__title{
        margin: 0.5em 0;
        font-size: var(--font-size-large);

    }

    &__history {
        font-size: var(--font-size-xl);
        font-weight: 400;
        color: #989898;
        padding: 0.67em;

        &__list {
            font-size: var(--font-size-capition);
            margin: 0;
            padding: 0 2em;
        }

        &__title{
            margin: 0;
            font-weight: 400;
            font-size: var(--font-size-xl);
        }

    }

    .section-social-media {
        display: flex;
        gap: 0.5em;
    }
}


:host ::ng-deep .section-sobre__content .button{
    padding: 0.67em 2em;
    width: auto;
    margin-top: 1em;

}
