<nav class="nav-menu">
    
    <a routerLink="#" class="nav-menu__back">
        <img src="back.png" alt="Seta voltar">
        Voltar</a>


    <ul class="nav-menu__list">
        <li><a routerLink="/home" routerLinkActive="nav-menu__list__item--active" class="nav-menu__list__item" >Inicio</a></li>
        <li><a routerLink="/sobre" routerLinkActive="nav-menu__list__item--active"  class="nav-menu__list__item" >Sobre nós</a></li>
        <li><a routerLink="/voluntario" routerLinkActive="nav-menu__list__item--active"  class="nav-menu__list__item">Seja voluntário</a></li>
        <li><a routerLink="/contato" routerLinkActive="nav-menu__list__item--active"  class="nav-menu__list__item">Contato</a></li>

    </ul>

</nav>