.section-voluntary {

    &__content {
        font-size: var(--font-size-capition);
        color: #989898;
        padding: 1.34em;
        border: 1px solid var(--medium-dark);
        border-radius: 0.5em;
        margin-bottom: 10.62em;

        &__section-title {
            font-size: var(--font-size-capition);
            font-weight: 400;
        }

        p {
            margin: 0;
        }

        &__list {
            margin: 0;
            padding: 0 1.5em;
        }

        &__title {
            margin: 0;
            font-size: var(--font-size-xl);
        }

    }

    .section-social-media {
        display: flex;
        gap: 0.5em;
    }
}

.formulario {
    font-size: var(--font-size-small);
    line-height: 1.72em;
    margin-top: 1em;

    .telephone {

        >div {
            display: grid;
            grid-template-columns: 0.5fr 2.8fr;
        }
    }

    input[type="checkbox"] {
        width: auto;
        display: inline;
        margin: 0;
        width: 16px;
        height: 16px;
    }

    input {
        padding: 0.74em 0.9em;
        display: block;
        width: 100%;
        box-sizing: border-box;
        font-size: var(--font-size-small);
        color: #696969;
        background-color: var(--light-gray);
        margin: 0.3em 0 0.57em;
    }

    hr {
        border: none;
        height: 1px;
        background: #5A5A5A;
        margin: 1em;

    }

    &__termo {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }
}

:host ::ng-deep .section-voluntary {
    padding: 0.57em 1.72em;
    font-size: var(--font-size-small);

    &__content .button {
        width: auto;
        margin-top: 1em;

    }

    & .formulario .button {
        width: 100%;
        justify-content: center;
        font-size: var(--font-size-small);
        margin-top: 1em;
    }
}