.section-voluntary {
  &__content {
    font-size: var(--font-size-capition);
    color: #989898;
    padding: 1.34em;
    border: 1px solid var(--medium-dark);
    border-radius: 0.5em;
    margin-bottom: 10.62em;

    &__section-title {
      font-size: var(--font-size-capition);
      font-weight: 400;
    }

    p {
      margin: 0;
    }

    &__list {
      margin: 0;
      padding: 0 1.5em;
    }

    &__title {
      margin: 0;
      font-size: var(--font-size-xl);
    }
  }

  .section-social-media {
    display: flex;
    gap: 0.5em;
  }
}

.formulario {
  font-size: var(--font-size-small);
  line-height: 1.72em;
  margin-top: 1em;

  .telephone {
    > div {
      display: grid;
      grid-template-columns: 0.5fr 2.8fr;
    }
  }

  hr {
    border: none;
    height: 1px;
    background: #5a5a5a;
    margin: 1em;
  }

  &__termo {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
}

:host ::ng-deep .section-voluntary {
  padding: 0.57em 1.72em;
  font-size: var(--font-size-small);

  & .formulario .button {
    justify-content: center;
  }
}
