.footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #3D444D;
    padding: 1em;
    margin-top: 1em;
    font-size: var(----font-size-capition);
    color: var(--text-color-third);
}