<section class="section">
    <app-nav-menu-component></app-nav-menu-component>
    <div class="container">

        <h2 class="section__title">Contato</h2>
        <div class="section__content">

            <section>
                <p>A FullDev é feita por pessoas e para pessoas. </p>
                <p>Se você tem dúvidas, sugestões, ideias ou apenas quer trocar uma ideia com a gente, estamos prontos
                    pra ouvir.</p>
            </section>

            <section class="section__group">
                <p class="section__subtitle">Como você pode falar com a gente:</p>
                <ul class="section__methods">
                    <li class="section__list-item--bullet">E-mail: contato@fulldev.com</li>
                    <li class="section__list-item--bullet">WhatsApp: (21) 98956-0135</li>
                    <li class="section__list-item--bullet">Redes sociais:
                        <a href="https://www.linkedin.com/company/comunidadefulldev/posts/?feedView=all" title="Visite nossa página no linkedin">LinkedIn</a> |
                        <a href="https://www.instagram.com/comunidadefulldev/" title="Visite nossa página no Instagram">Instagram</a> |
                        <a href="https://www.youtube.com/@comunidadefulldev" title="Visite nossa página no YouTube">YouTube</a>
                    </li>
                </ul>
            </section>

            <section class="section__group">
                <p>Dúvidas mais comuns:</p>
                <ul class="section__list">
                    <li>
                        <p class="section__list-item--bullet">Quer ser voluntário?</p>
                        <span class="section__list-item--bullet"><a routerLink="/voluntario" title="Clique aqui para se tornar um voluntário">Clique aqui</a></span>
                    </li>
                    <li>
                        <p class="section__list-item--bullet">Quer propor uma parceria?</p>
                        <span class="section__list-item--bullet">Envie um e-mail para marketing@fulldev.com.br</span>
                    </li>
                    <li>
                        <p class="section__list-item--bullet">Problemas técnicos?</p>
                        <span class="section__list-item--bullet">Entre em contato com o nosso suporte</span>
                    </li>
                </ul>
            </section>

            <app-custom-button-component text="Preencher formulário" color="primary" sizes="medium"
               (buttonClick)="openModal()">
            </app-custom-button-component>
        </div>
    </div>

    <div>
        <app-social-component></app-social-component>
        <app-footer-component></app-footer-component>
    </div>

    <app-custom-modal title="Contato" [isOpen]="showModal" (closeModal)="closeModal()"></app-custom-modal>
</section>