<section class="group-card" [ngClass]="parentType">

    <div class="group-card__content">

        <img [src]="src" class="group-card__logo" alt="'Logo do grupo' {{ text }}">
       
        <div class="group-section__info">
            <h2 class="group-card__title" > {{ text }} </h2>
            <p class="group-card__members"><img src="member.svg" alt="Icone membros" aria-hidden="true"> {{ memberCount }} </p>
        </div>

        @if (showIcon) {<img src="fix.svg" alt="Icone fix">}

    </div>

    <app-custom-button-component 
    sizes="large" 
    text="Entrar no grupo" 
    color="link"
    [showIcon]="true"
    >
    </app-custom-button-component>
    
</section>