.button {
    font-size: var(--font-size-capition);
    color: var(--text-color-primary);
    font-family: var(--font-base);
    border-radius: 0.34em;
    padding: 1.04em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;

    &.link {
        background-color: var(--dark-gray);
        border: 1px solid var(--medium-dark);
    }

    &.primary {
        background-color: var(--red);
    }

    &.secundary {
        background-color: var(--medium-dark);
    }

    .warning {
        background-color: var(--orange);

    }
}