
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-base: 'Inter', sans-serif;
  --light-gray: #bababa;
  --medium-dark: #4c4c4c;
  --dark-gray: #1c1c1c;
  --black: #0d0d0d;
  --red: #b22d00;
  --orange: #d77e00;
  --text-color-primary: #ffffff;
  --text-color-secondary: #8b949e;
  --text-color-third: #9198a1;

  --font-size-capition: 12px;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-xl: 24px;
  --font-size-large: 32px;
}

body {
  font-family: var(--font-base);
  color: var(--text-color-secondary);
  background-color: var(--black);
  font-size: var(--font-size-medium);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > div {
    padding: 1em 1.25em;
    color: var(--text-color-primary);
  }

  &__title {
    margin: 0.5em 0;
    font-size: var(--font-size-large);
    font-weight: 400;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
