.list-group {
  border: 1px solid var(--medium-dark);
  padding: 1.04em;
  border-radius: 0.57em;
  margin: 1em 0;

  &__item {
    list-style-type: none;
    border-bottom: 1px solid #3d444d;
    padding: 1.04em;
    font-size: 0.86em;

    &:last-child {
      border-bottom: none;
    }

    &__link {
      color: var(--text-color-secondary);
      font-size: var(--font-size-capition);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
