<ul class="list-group">
  <li class="list-group__item">
    <a class="list-group__item__link" routerLink="/sobre"
      >Sobre nós
      <img class="list-group__arrow" src="arrow-up-right.svg" alt="Abrir página Sobre nós" />
    </a>
  </li>
  <li class="list-group__item">
    <a class="list-group__item__link" routerLink="/voluntario"
      >Seja voluntário
      <img class="list-group__arrow" src="arrow-up-right.svg" alt="Abrir página Seja voluntário" />
    </a>
  </li>
  <li class="list-group__item">
    <a class="list-group__item__link" routerLink="/contato"
      >Contato
      <img class="list-group__arrow" src="arrow-up-right.svg" alt="Abrir página para contato" />
    </a>
  </li>
  <li class="list-group__item">
    <a class="list-group__item__link" routerLink="/repotar"
      >Reportar bug
      <img class="list-group__arrow" src="arrow-up-right.svg" alt="Abrir página reportar bug" />
    </a>
  </li>
</ul>
